{% extends 'layouts.html' %}
{% block content_block %}
    <div >
      <div style="padding-left: 40%;padding-top: 5%">
        <img src="static/images/dp.jpg" class="rounded-circle" width="304" height="304" alt="Shrek">
      </div>
      <div style="background-color: #EEEEEE;height: 400px;width: 400px; border-radius: 20px;margin-left: 37%;margin-top: 3%">
        <p style="font-size: 20px;font-family: monospace;padding: 20px;">
                I am Imankalyan.I am a 2020 graduate.I am interested in Software developement and machine Learning.
            I am proficient in python,c++and java and have worked with web frameworks like flask , django and ml libraries like
            Tensorflow and Keras. Besides all thease I am also extremely interested in sports. You can download my resume from <a href="https://drive.google.com/uc?export=download&id=1Vsup1i0GR70LOuTLhk7HgdrDGhjIQYhC">here</a>.
        </p>
      </div>
    </div>
{% endblock %}