{% extends 'layouts.html' %}

{% block content_block %}
<div class="container">
<div class="jumbotron" style="padding-top: 20px;margin-top: 20px;padding-bottom: 20px;font-family: monospace">
    <h1>Imankalyan Sarkar</h1>
    <h2>RCC INSTITUTE OF INFORMATION TECHNOLOGY</h2>
    <h3>2016-2020</h3>
</div>
<div class="container" style="background-color: #EEEEEE;padding: 20px 70px;">
    <h1>Achievements</h1>
    <ul class="list-group" style="background-color: #EEEEEE">
        <li class="list-group-item">Infosys Hackwithinfy Finalist</li>
        <li class="list-group-item">Master the Mainframe Part 3 Finisher</li>
        <li class="list-group-item">Codathon(RCCIIT) Champion</li>
        <li class="list-group-item">Logia(RCCIIT) 1st</li>
        <li class="list-group-item">AMCAT 93 percentile overall</li>
    </ul>

</div>
<div class="container" style="background-color: #EEEEEE;padding: 20px 70px;">
    <h1>MOOCS</h1>
    <ul class="list-group" style="background-color: #EEEEEE">
        <li class="list-group-item">Machine Learning With Python (globsynn)</li>
        <li class="list-group-item">Data Analysis With Python (globsynn)</li>
        <li class="list-group-item">Database Management System (NPTEL)</li>
        <li class="list-group-item">Programming using c++ (NPTEL)</li>
    </ul>

</div>
</div>

{% endblock %}