{% extends 'layouts.html' %}

{% block content_block %}
<div style="padding-top:100px;padding-left: 20%;">
{% include 'includes/typw.html'%}
    <div style="padding-left: 30%;padding-top: 30px">
        <a href="https://github.com/dawnblade97"><i class="fa fa-github" style="font-size:48px;color:black"></i></a>
    &nbsp
<a href="https://www.linkedin.com/in/imankalyan-sarkar-950045132"><i class="fa fa-linkedin" style="font-size:48px;color:black"></i></a>
    &nbsp
<a href="https://twitter.com/imanksarkar"><i class="fa fa-twitter" style="font-size:48px;color:black"></i></a>
    &nbsp
<a href="https://www.facebook.com/imankalyan97"><i class="fa fa-facebook" style="font-size:48px;color:black"></i></a>
    &nbsp

    </div>
</div>
{% endblock %}