<html>
  <head>
        <title>Imankalyan's_webpage</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="static/js/gg_26.js"></script>
        <link rel="stylesheet" href="static/css/gg_new.css">
        {% include 'includes/headers.html' %}
  </head>
  <body>
  <div id="gradient" >
    {% include 'includes/navbar.html' %}
    {% block content_block %}
    {% endblock %}
  </div>
 </body>
</html>