<style>


p{
  color: black;
  font-family: monospace;
  font-size: 50px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 6s steps(100, end);
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}
</style>

<div>
    <p>Hello world ... I am Imankalyan<span>|</span> </p>
</div>

